In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
d = pd.read_csv("/content/drive/My Drive/AnalyzeThis2020/Data_Dictionary-06_11N.csv",  encoding='cp1252')

In [ ]:
d

                              Term                                        Description
0                      Customer/CM               An individual who holds a XZVEE card
1        XZVEE Credit card company  A US based financial institution into credit a...
2                     Charge cards        Cards where the customer has to pay in full
3            Lending/Revolve cards  Credit cards where the customer has the option...
4                        Prospects  An individual who doesn’t hold any XZVEE credi...
5                        Spillover               A XZVEE CM taking another XZVEE card
6             Size of Wallet (SOW)                   External Credit Bureau variables
7                   External cards     Non XZVEE Credit/Charge cards held by a person
8                              NaN                                                NaN
9                              NaN                                                NaN
10                   Variable Name                                        Description
11         cust_max_credit_12m_amt  Maximum amount of single transaction made by c...
12          cust_max_remit_12m_amt  Maximum amount of single transaction payment m...
13      cnsumr_lend_tot_util_ratio  Total credit limit used off the assigned lendi...
14              sum_total_line_amt  Total credit limits of all cards with the cust...
15                         cust_id                                  XVZEE Customer ID
16                     count_accts           Number of XZVEE accounts of the Customer
17                          cm_age                                Age of the Customer
18           flag_cust_fee_paid_6m  Flag if Customer has paid fee on any card in l...
19                     acq_sub_chn  Channel of acquisition of first the firt card ...
20                    acq_type_grp       Customer type: Existing Customer or prospect
21                    fee_type_grp          Fe type of the first card of the customer
22                     Cust_tenure   Total Tenure of the cutomer with XZVEE in months
23                     min_pay_ind  Flag to indicate if the customer has paid the ...
24                paid_in_full_ind  Flag to indicate if the customer has paid the ...
25                       referrals  Number of previous successful referrals made b...
26                       spillover  Number of spillovers from the successful refer...
27                      self_accts        No of cards when the customer self referred
28  Customer Low Quality indicator  Flag to identify if the customer is a low qual...
29       cnsumr_chrg_actv_cust_cnt  Number of active charge card account of the cu...
30  cnsumr_chrg_avg_credit_12m_amt             Average monthly spend on Charge cards
31       cnsumr_lend_actv_cust_cnt  Number of active lending card account of the c...
32          pre6m_cust_myca_active  Number of times the Customer logged into his o...
33           pre6m_cust_mob_logins  Number of times the Customer logged into his o...
34                direct_debit_ind  Flag to indicate if the customer has set up au...
35                     cbr_3_score              External Bureau score of the customer
36       sow_revol_avg_paydown_pct  Size of Wallet: Total amount paid over revolvi...
37      sow_tot_annual_ext_pmt_amt  Size of Wallet: Average amount paid on externa...
38           sow_tot_revol_bal_amt  Size of Wallet: Total revolve balance on exter...
39               sow_tot_revol_cnt  Size of Wallet: Total external lending cards c...
40           sow_tot_trans_bal_amt  Size of Wallet: Total balance amount on extern...
41               sow_tot_trans_cnt  Size of Wallet: Total external charge cards count
42              pre6m_total_mc_trs  Total profit made by XZVEE on the customer in ...
43             cdss_most_rcnt_prob  Internal XZVEE risk score generated for the cu...
44             flag_top_ed_spender  Flag to identify if the Customer is an everyda...
45                pre6m_cust_spend                      Total Spend  in last 6 months
46              pre6m_cust_roc_cnt      Total number of transactions in last 6 months
47         pre6m_cust_non_disc_amt     Total Non discretionary spend in last 6 months
48         pre6m_cust_non_disc_cnt  Total Non discretionary transactions in last 6...
49             pre6m_cust_disc_amt         Total discretionary spend in last 6 months
50             pre6m_cust_disc_cnt  Total discretionary transactions in last 6 months
51         pre6m_cust_outbound_amt              Total outbound spend in last 6 months
52           pre6m_cust_online_amt                Total online spend in last 6 months
53           pre6m_cust_online_cnt         Total online transactions in last 6 months
54           pre6m_cust_travel_amt                Total travel spend in last 6 months
55           pre6m_cust_travel_cnt         Total travel transactions in last 6 months
56           pre6m_cust_retail_amt                Total retail spend in last 6 months
57           pre6m_cust_retail_cnt         Total retail transactions in last 6 months
58          pre6m_spend_active_ind  Flag to indicate if the customer has spent on ...
59             highly_utilized_ind  CM has spent >80% of the card limit in past 6 ...

In [ ]:
train = pd.read_csv("/content/drive/My Drive/AnalyzeThis2020/Training_Data_0611N.csv")

In [ ]:
train.head()

    cust_id  profitable_flag  ...  sow_tot_trans_bal_amt  sow_tot_trans_cnt
0  550391.0              0.0  ...                   -                   3.0
1  550392.0              0.0  ...                   -                   0.0
2  550393.0              0.0  ...                   387                 3.0
3  550394.0              0.0  ...                   295                 4.0
4  550395.0              0.0  ...                   143                13.0

[5 rows x 50 columns]

In [ ]:
train.columns

Index(['cust_id', 'profitable_flag', 'count_accts', 'cm_age',
       'flag_top_ed_spender', 'flag_cust_fee_paid_6m', 'pre6m_cust_spend',
       'pre6m_cust_roc_cnt', 'pre6m_cust_non_disc_amt',
       'pre6m_cust_non_disc_cnt', 'pre6m_cust_disc_amt', 'pre6m_cust_disc_cnt',
       'pre6m_cust_outbound_amt', 'pre6m_cust_online_amt',
       'pre6m_cust_online_cnt', 'pre6m_cust_travel_amt',
       'pre6m_cust_travel_cnt', 'pre6m_cust_retail_amt',
       'pre6m_cust_retail_cnt', 'pre6m_cust_myca_active',
       'pre6m_cust_mob_logins', 'pre6m_total_mc_trs', 'acq_sub_chn',
       'acq_type_grp', 'fee_type_grp', 'Cust_tenure', 'pre6m_spend_active_ind',
       'highly_utilized_ind', 'min_pay_ind', 'paid_in_full_ind',
       'sum_total_line_amt', 'direct_debit_ind', 'referrals', 'spillover',
       'self_accts', 'Customer Low Quality indicator', 'cdss_most_rcnt_prob',
       'cust_max_credit_12m_amt', 'cust_max_remit_12m_amt', 'cbr_3_score',
       'cnsumr_chrg_actv_cust_cnt', 'cnsumr_chrg_avg_credit_12m_amt',
       'cnsumr_lend_actv_cust_cnt', 'cnsumr_lend_tot_util_ratio',
       'sow_revol_avg_paydown_pct', 'sow_tot_annual_ext_pmt_amt',
       'sow_tot_revol_bal_amt', 'sow_tot_revol_cnt', 'sow_tot_trans_bal_amt',
       'sow_tot_trans_cnt'],
      dtype='object')

In [ ]:
train.shape

(19599, 50)

In [ ]:
test = pd.read_csv("/content/drive/My Drive/AnalyzeThis2020/Evaluation_Data_0611_Nv.csv")

In [ ]:
test.head()

   cust_id  count_accts  ...  sow_tot_trans_bal_amt  sow_tot_trans_cnt
0   569986            1  ...                   -                   0.0
1   569987            2  ...                   -                   NaN
2   569988            2  ...                   -                   0.0
3   569989            1  ...                   -                   0.0
4   569990            1  ...                   -                   0.0

[5 rows x 49 columns]

In [ ]:
test.isnull().sum()

cust_id                             0
count_accts                         0
cm_age                              0
flag_top_ed_spender                15
flag_cust_fee_paid_6m               0
pre6m_cust_spend                    0
pre6m_cust_roc_cnt                  0
pre6m_cust_non_disc_amt             0
pre6m_cust_non_disc_cnt             0
pre6m_cust_disc_amt                 0
pre6m_cust_disc_cnt                 0
pre6m_cust_outbound_amt             0
pre6m_cust_online_amt               0
pre6m_cust_online_cnt               0
pre6m_cust_travel_amt               0
pre6m_cust_travel_cnt               0
pre6m_cust_retail_amt               0
pre6m_cust_retail_cnt               0
pre6m_cust_myca_active              0
pre6m_cust_mob_logins               0
pre6m_total_mc_trs                  0
acq_sub_chn                       151
acq_type_grp                      142
fee_type_grp                        0
Cust_tenure                        78
pre6m_spend_active_ind             78
highly_utilized_ind                78
min_pay_ind                        78
paid_in_full_ind                   78
sum_total_line_amt                  0
direct_debit_ind                   78
referrals                          78
spillover                          78
self_accts                         78
Customer Low Quality indicator     78
cdss_most_rcnt_prob                74
cust_max_credit_12m_amt             0
cust_max_remit_12m_amt              0
cbr_3_score                        74
cnsumr_chrg_actv_cust_cnt          74
cnsumr_chrg_avg_credit_12m_amt      0
cnsumr_lend_actv_cust_cnt          74
cnsumr_lend_tot_util_ratio         74
sow_revol_avg_paydown_pct          74
sow_tot_annual_ext_pmt_amt          0
sow_tot_revol_bal_amt               0
sow_tot_revol_cnt                  74
sow_tot_trans_bal_amt               0
sow_tot_trans_cnt                  74
dtype: int64

In [ ]:
train.dtypes

cust_id                           float64
profitable_flag                   float64
count_accts                       float64
cm_age                            float64
flag_top_ed_spender               float64
flag_cust_fee_paid_6m             float64
pre6m_cust_spend                   object
pre6m_cust_roc_cnt                float64
pre6m_cust_non_disc_amt            object
pre6m_cust_non_disc_cnt           float64
pre6m_cust_disc_amt                object
pre6m_cust_disc_cnt               float64
pre6m_cust_outbound_amt            object
pre6m_cust_online_amt              object
pre6m_cust_online_cnt             float64
pre6m_cust_travel_amt              object
pre6m_cust_travel_cnt             float64
pre6m_cust_retail_amt              object
pre6m_cust_retail_cnt             float64
pre6m_cust_myca_active            float64
pre6m_cust_mob_logins             float64
pre6m_total_mc_trs                 object
acq_sub_chn                        object
acq_type_grp                       object
fee_type_grp                       object
Cust_tenure                       float64
pre6m_spend_active_ind            float64
highly_utilized_ind               float64
min_pay_ind                       float64
paid_in_full_ind                  float64
sum_total_line_amt                 object
direct_debit_ind                  float64
referrals                         float64
spillover                         float64
self_accts                        float64
Customer Low Quality indicator    float64
cdss_most_rcnt_prob               float64
cust_max_credit_12m_amt            object
cust_max_remit_12m_amt             object
cbr_3_score                       float64
cnsumr_chrg_actv_cust_cnt         float64
cnsumr_chrg_avg_credit_12m_amt     object
cnsumr_lend_actv_cust_cnt         float64
cnsumr_lend_tot_util_ratio        float64
sow_revol_avg_paydown_pct         float64
sow_tot_annual_ext_pmt_amt         object
sow_tot_revol_bal_amt              object
sow_tot_revol_cnt                 float64
sow_tot_trans_bal_amt              object
sow_tot_trans_cnt                 float64
dtype: object

In [ ]:
y = train["profitable_flag"]

In [ ]:
y.describe

<bound method NDFrame.describe of 0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
19594    0.0
19595    NaN
19596    NaN
19597    NaN
19598    NaN
Name: profitable_flag, Length: 19599, dtype: float64>

In [ ]:
y.notnull().sum()

19595

In [ ]:
list(y.values).count(0)

15951

In [ ]:
list(y.values).count(1)/(list(y.values).count(0))

0.22844962698263432

In [ ]:
train.isnull().sum()

cust_id                             4
profitable_flag                     4
count_accts                         4
cm_age                              4
flag_top_ed_spender                52
flag_cust_fee_paid_6m               4
pre6m_cust_spend                    4
pre6m_cust_roc_cnt                  4
pre6m_cust_non_disc_amt             4
pre6m_cust_non_disc_cnt             4
pre6m_cust_disc_amt                 4
pre6m_cust_disc_cnt                 4
pre6m_cust_outbound_amt             4
pre6m_cust_online_amt               4
pre6m_cust_online_cnt               4
pre6m_cust_travel_amt               4
pre6m_cust_travel_cnt               4
pre6m_cust_retail_amt               4
pre6m_cust_retail_cnt               4
pre6m_cust_myca_active              4
pre6m_cust_mob_logins               4
pre6m_total_mc_trs                  4
acq_sub_chn                       906
acq_type_grp                      876
fee_type_grp                        4
Cust_tenure                       240
pre6m_spend_active_ind            240
highly_utilized_ind               240
min_pay_ind                       240
paid_in_full_ind                  240
sum_total_line_amt                  4
direct_debit_ind                  240
referrals                         240
spillover                         240
self_accts                        240
Customer Low Quality indicator    240
cdss_most_rcnt_prob               249
cust_max_credit_12m_amt             4
cust_max_remit_12m_amt              4
cbr_3_score                       249
cnsumr_chrg_actv_cust_cnt         249
cnsumr_chrg_avg_credit_12m_amt      4
cnsumr_lend_actv_cust_cnt         249
cnsumr_lend_tot_util_ratio        249
sow_revol_avg_paydown_pct         249
sow_tot_annual_ext_pmt_amt          4
sow_tot_revol_bal_amt               4
sow_tot_revol_cnt                 249
sow_tot_trans_bal_amt               4
sow_tot_trans_cnt                 249
dtype: int64

In [ ]:
t = train.dropna()

In [ ]:
t.head()

    cust_id  profitable_flag  ...  sow_tot_trans_bal_amt  sow_tot_trans_cnt
0  550391.0              0.0  ...                   -                   3.0
1  550392.0              0.0  ...                   -                   0.0
4  550395.0              0.0  ...                   143                13.0
6  550397.0              0.0  ...                 1,866                 2.0
7  550398.0              1.0  ...                 5,833                 6.0

[5 rows x 50 columns]

In [ ]:
t.shape

(18357, 50)

## Data Preprocessing

In [ ]:
#train set
print(train.head())
print(train.shape)

    cust_id  profitable_flag  ...  sow_tot_trans_bal_amt  sow_tot_trans_cnt
0  550391.0              0.0  ...                   -                   3.0
1  550392.0              0.0  ...                   -                   0.0
2  550393.0              0.0  ...                   387                 3.0
3  550394.0              0.0  ...                   295                 4.0
4  550395.0              0.0  ...                   143                13.0

[5 rows x 50 columns]
(19599, 50)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19599 entries, 0 to 19598
Data columns (total 50 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   cust_id                         19595 non-null  float64
 1   profitable_flag                 19595 non-null  float64
 2   count_accts                     19595 non-null  float64
 3   cm_age                          19595 non-null  float64
 4   flag_top_ed_spender             19547 non-null  float64
 5   flag_cust_fee_paid_6m           19595 non-null  float64
 6   pre6m_cust_spend                19595 non-null  object
 7   pre6m_cust_roc_cnt              19595 non-null  float64
 8   pre6m_cust_non_disc_amt         19595 non-null  object
 9   pre6m_cust_non_disc_cnt         19595 non-null  float64
 10  pre6m_cust_disc_amt             19595 non-null  object
 11  pre6m_cust_disc_cnt             19595 non-null  float64
 12  pre6m_cust_outbound_amt         19595 non-null  object
 13  pre6m_cust_online_amt           19595 non-null  object
 14  pre6m_cust_online_cnt           19595 non-null  float64
 15  pre6m_cust_travel_amt           19595 non-null  object
 16  pre6m_cust_travel_cnt           19595 non-null  float64
 17  pre6m_cust_retail_amt           19595 non-null  object
 18  pre6m_cust_retail_cnt           19595 non-null  float64
 19  pre6m_cust_myca_active          19595 non-null  float64
 20  pre6m_cust_mob_logins           19595 non-null  float64
 21  pre6m_total_mc_trs              19595 non-null  object
 22  acq_sub_chn                     18693 non-null  object
 23  acq_type_grp                    18723 non-null  object
 24  fee_type_grp                    19595 non-null  object
 25  Cust_tenure                     19359 non-null  float64
 26  pre6m_spend_active_ind          19359 non-null  float64
 27  highly_utilized_ind             19359 non-null  float64
 28  min_pay_ind                     19359 non-null  float64
 29  paid_in_full_ind                19359 non-null  float64
 30  sum_total_line_amt              19595 non-null  object
 31  direct_debit_ind                19359 non-null  float64
 32  referrals                       19359 non-null  float64
 33  spillover                       19359 non-null  float64
 34  self_accts                      19359 non-null  float64
 35  Customer Low Quality indicator  19359 non-null  float64
 36  cdss_most_rcnt_prob             19350 non-null  float64
 37  cust_max_credit_12m_amt         19595 non-null  object
 38  cust_max_remit_12m_amt          19595 non-null  object
 39  cbr_3_score                     19350 non-null  float64
 40  cnsumr_chrg_actv_cust_cnt       19350 non-null  float64
 41  cnsumr_chrg_avg_credit_12m_amt  19595 non-null  object
 42  cnsumr_lend_actv_cust_cnt       19350 non-null  float64
 43  cnsumr_lend_tot_util_ratio      19350 non-null  float64
 44  sow_revol_avg_paydown_pct       19350 non-null  float64
 45  sow_tot_annual_ext_pmt_amt      19595 non-null  object
 46  sow_tot_revol_bal_amt           19595 non-null  object
 47  sow_tot_revol_cnt               19350 non-null  float64
 48  sow_tot_trans_bal_amt           19595 non-null  object
 49  sow_tot_trans_cnt               19350 non-null  float64
dtypes: float64(32), object(18)
memory usage: 7.5+ MB

In [ ]:
train.describe()

             cust_id  profitable_flag  ...  sow_tot_revol_cnt  sow_tot_trans_cnt
count   19595.000000     19595.000000  ...       19350.000000       19350.000000
mean   560188.000000         0.185966  ...           0.433902           0.787339
std      5656.733598         0.389089  ...           1.082492           1.187996
min    550391.000000         0.000000  ...           0.000000           0.000000
25%    555289.500000         0.000000  ...           0.000000           0.000000
50%    560188.000000         0.000000  ...           0.000000           0.000000
75%    565086.500000         0.000000  ...           0.000000           2.000000
max    569985.000000         1.000000  ...          10.000000          13.000000

[8 rows x 32 columns]

In [ ]:
cols = train.columns

In [ ]:
cat_col = ["acq_sub_chn", "acq_type_grp", "fee_type_grp"]

In [ ]:
dfc = train.dropna()

In [ ]:
dfc.shape

(18357, 50)

In [ ]:
print("Total drop rows: ", train.shape[0]-dfc.shape[0])

Total drop rows:  1242

In [ ]:
dfc.head(20)

     cust_id  profitable_flag  ...  sow_tot_trans_bal_amt  sow_tot_trans_cnt
0   550391.0              0.0  ...                   -                   3.0
1   550392.0              0.0  ...                   -                   0.0
4   550395.0              0.0  ...                   143                13.0
6   550397.0              0.0  ...                 1,866                 2.0
7   550398.0              1.0  ...                 5,833                 6.0
11  550402.0              0.0  ...                   -                   3.0
12  550403.0              0.0  ...                   -                   0.0
14  550405.0              1.0  ...                   303                 4.0
18  550409.0              0.0  ...                   -                   0.0
24  550415.0              0.0  ...                   -                   0.0
27  550418.0              0.0  ...                   -                   0.0
29  550420.0              0.0  ...                   893                 3.0
30  550421.0              1.0  ...                   -                   0.0
31  550422.0              0.0  ...                   -                   0.0
32  550423.0              0.0  ...                   -                   0.0
35  550426.0              0.0  ...                    57                 2.0
40  550431.0              1.0  ...                   -                   2.0
44  550435.0              0.0  ...                   877                 2.0
45  550436.0              0.0  ...                   560                 2.0
47  550438.0              0.0  ...                 2,202                 3.0

[20 rows x 50 columns]

In [ ]:
dfc.tail()

        cust_id  profitable_flag  ...  sow_tot_trans_bal_amt  sow_tot_trans_cnt
19590  569981.0              1.0  ...                   -                   0.0
19591  569982.0              0.0  ...                   -                   0.0
19592  569983.0              0.0  ...                   -                   0.0
19593  569984.0              0.0  ...                   -                   0.0
19594  569985.0              0.0  ...                    40                 2.0

[5 rows x 50 columns]

In [ ]:
for i in cols:
    dfc[i].replace('-', None)

In [ ]:
d_cols = ['pre6m_cust_travel_amt', 'sow_tot_revol_bal_amt', 'sow_tot_annual_ext_pmt_amt', 'cnsumr_chrg_avg_credit_12m_amt']

In [ ]:
for i in d_cols:
    print(dfc[i].value_counts())

 -         1620
 3           50
 7           43
 4           41
 2           40
           ...
 1,364        1
 (21)         1
 2,288        1
 2,232        1
 7,494        1
Name: pre6m_cust_travel_amt, Length: 4679, dtype: int64
 -         15458
 250           8
 0             7
 208           7
 1,125         6
           ...
 4,886         1
 1,348         1
 3,015         1
 1,070         1
 248           1
Name: sow_tot_revol_bal_amt, Length: 2259, dtype: int64
 -          9936
 10           15
 83           14
 208          13
 500          12
            ...
 27,621        1
 11,510        1
 7,476         1
 33,674        1
 936           1
Name: sow_tot_annual_ext_pmt_amt, Length: 5352, dtype: int64
 -         14483
 0            42
 5            40
 1            29
 3            21
           ...
 1,314         1
 1,971         1
 290           1
 839           1
 1,514         1
Name: cnsumr_chrg_avg_credit_12m_amt, Length: 1398, dtype: int64

In [ ]:
dfc.drop(columns=d_cols, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
dfc.shape

(18357, 46)

In [ ]:
col = dfc.columns

In [ ]:
for i in col:
    print(dfc[i].value_counts())

557055.0    1
563509.0    1
563500.0    1
563501.0    1
563503.0    1
           ..
569918.0    1
569917.0    1
569916.0    1
569915.0    1
557056.0    1
Name: cust_id, Length: 18357, dtype: int64
0.0    14929
1.0     3428
Name: profitable_flag, dtype: int64
1.0    14868
2.0     2891
3.0      497
4.0       85
5.0       15
6.0        1
Name: count_accts, dtype: int64
35.0    1009
36.0     993
38.0     983
34.0     980
37.0     967
        ...
85.0       2
91.0       1
24.0       1
92.0       1
97.0       1
Name: cm_age, Length: 70, dtype: int64
1.0    9752
0.0    8605
Name: flag_top_ed_spender, dtype: int64
0.0    13947
1.0     4410
Name: flag_cust_fee_paid_6m, dtype: int64
 -          368
 1,373       10
 1,657        9
 1,550        9
 42           9
           ...
 6,220        1
 9,494        1
 22,281       1
 468          1
 301          1
Name: pre6m_cust_spend, Length: 9124, dtype: int64
0.0       368
2.0       123
4.0       113
6.0       103
12.0      101
         ...
1578.0      1
1992.0      1
2296.0      1
1974.0      1
2164.0      1
Name: pre6m_cust_roc_cnt, Length: 964, dtype: int64
 -         908
 11         29
 5          29
 26         28
 21         28
          ...
 3,886       1
 3,018       1
 6,328       1
 4,396       1
 4,667       1
Name: pre6m_cust_non_disc_amt, Length: 3879, dtype: int64
0.0      907
2.0      391
4.0      317
6.0      259
8.0      252
        ...
980.0      1
882.0      1
704.0      1
644.0      1
936.0      1
Name: pre6m_cust_non_disc_cnt, Length: 387, dtype: int64
 -          456
 44          12
 391         12
 19          12
 901         11
           ...
 1,216        1
 6,133        1
 2,744        1
 10,131       1
 9,770        1
Name: pre6m_cust_disc_amt, Length: 7901, dtype: int64
0.0       455
2.0       182
6.0       177
4.0       165
10.0      143
         ...
1678.0      1
1216.0      1
1268.0      1
1686.0      1
1550.0      1
Name: pre6m_cust_disc_cnt, Length: 784, dtype: int64
 -         1864
 5           64
 11          62
 3           60
 21          56
           ...
 7,760        1
 1,464        1
 2,088        1
 5,186        1
 3,295        1
Name: pre6m_cust_outbound_amt, Length: 3377, dtype: int64
 -          948
 11          20
 8           20
 19          19
 20          17
           ...
 3,748        1
 5,710        1
 30,333       1
 10,079       1
 6,640        1
Name: pre6m_cust_online_amt, Length: 5755, dtype: int64
0.0       943
4.0       501
8.0       360
12.0      356
16.0      335
         ...
1680.0      1
1644.0      1
1904.0      1
2472.0      1
2192.0      1
Name: pre6m_cust_online_cnt, Length: 445, dtype: int64
0.0       1619
2.0        820
4.0        704
6.0        593
8.0        547
          ...
728.0        1
1028.0       1
564.0        1
766.0        1
606.0        1
Name: pre6m_cust_travel_cnt, Length: 368, dtype: int64
 -          593
 11          25
 5           18
 9           18
 168         17
           ...
 3,438        1
 7,084        1
 3,271        1
 4,480        1
 10,650       1
Name: pre6m_cust_retail_amt, Length: 5433, dtype: int64
0.0       595
2.0       245
4.0       212
6.0       204
8.0       184
         ...
756.0       1
1064.0      1
1046.0      1
864.0       1
1072.0      1
Name: pre6m_cust_retail_cnt, Length: 511, dtype: int64
0.0     4129
4.0     3262
9.0     2290
5.0     2210
6.0     1301
7.0     1226
3.0     1101
8.0      948
15.0     887
13.0     321
11.0     268
21.0     239
18.0      60
27.0      53
12.0      40
33.0      10
23.0       7
19.0       4
28.0       1
Name: pre6m_cust_myca_active, dtype: int64
0.0      4129
4.0      2052
5.0      1422
3.0      1101
6.0       865
         ...
458.0       1
361.0       1
657.0       1
606.0       1
341.0       1
Name: pre6m_cust_mob_logins, Length: 523, dtype: int64
 (0)       408
 (1)       352
 2         335
 1         333
 0         247
          ...
 2,927       1
 1,023       1
 629         1
 (500)       1
 1,043       1
Name: pre6m_total_mc_trs, Length: 948, dtype: int64
MGM                           7309
Unreferred                    4397
Partner                       1534
Affiliates                    1503
In House                      1291
Paid Search                    686
Direct                         618
Media                          344
Search                         296
Interactive                    145
Non-PDB (Personalized)          44
Email                           39
Partnerships - Other            37
Outsourced                      35
Natural Referral                21
PDB (Personalized)              21
E-Mails                         16
Partnerships - In Store          6
Personalization                  5
E-mails                          3
Unaddressed                      2
Outbound                         2
Proprietary - Direct Sales       1
Natural Search                   1
DM                               1
Name: acq_sub_chn, dtype: int64
external     13240
spillover     3668
others        1449
Name: acq_type_grp, dtype: int64
no_fee         8017
full_fee       6693
reduced_fee    3621
unknown          26
Name: fee_type_grp, dtype: int64
3.0      1243
1.0      1030
2.0       903
5.0       708
11.0      655
         ...
371.0       1
289.0       1
225.0       1
280.0       1
348.0       1
Name: Cust_tenure, Length: 241, dtype: int64
1.0    17194
0.0     1163
Name: pre6m_spend_active_ind, dtype: int64
0.0    16939
1.0     1418
Name: highly_utilized_ind, dtype: int64
0.0    17956
1.0      401
Name: min_pay_ind, dtype: int64
1.0    10830
0.0     7527
Name: paid_in_full_ind, dtype: int64
 -           1437
 20,000       691
 40,000       568
 6,667        334
 4,000        326
             ...
 40,733         1
 116,333        1
 112,333        1
 80,133         1
 138,467        1
Name: sum_total_line_amt, Length: 1392, dtype: int64
0.0    9587
1.0    8770
Name: direct_debit_ind, dtype: int64
0.0      12930
1.0       3313
2.0       1077
3.0        460
4.0        203
5.0        126
6.0         75
7.0         51
8.0         26
10.0        18
9.0         16
11.0        10
15.0         5
13.0         5
16.0         4
12.0         4
20.0         4
14.0         4
17.0         4
30.0         2
26.0         2
22.0         2
33.0         2
18.0         2
32.0         1
52.0         1
64.0         1
21.0         1
235.0        1
50.0         1
37.0         1
28.0         1
29.0         1
71.0         1
19.0         1
38.0         1
Name: referrals, dtype: int64
0.0     16473
1.0      1148
2.0       341
3.0       147
4.0        85
5.0        48
6.0        37
7.0        27
9.0         8
8.0         8
13.0        6
12.0        6
11.0        5
10.0        4
15.0        2
22.0        2
14.0        2
23.0        1
17.0        1
72.0        1
19.0        1
35.0        1
18.0        1
20.0        1
26.0        1
Name: spillover, dtype: int64
0.0     18058
1.0       178
2.0        73
3.0        27
4.0        11
5.0         5
7.0         2
11.0        1
9.0         1
6.0         1
Name: self_accts, dtype: int64
0.0    18201
1.0      156
Name: Customer Low Quality indicator, dtype: int64
0.000    12424
0.001     2277
0.004      662
0.005      380
0.003      258
         ...
0.792        1
0.148        1
0.369        1
0.133        1
0.448        1
Name: cdss_most_rcnt_prob, Length: 294, dtype: int64
 -         1506
 42          25
 21          25
 83          23
 10          23
           ...
 2,474        1
 3,706        1
 2,315        1
 7,325        1
 3,699        1
Name: cust_max_credit_12m_amt, Length: 4633, dtype: int64
 -         1654
 833         50
 625         37
 208         35
 417         35
           ...
 1,425        1
 3,271        1
 2,753        1
 4,025        1
 1,820        1
Name: cust_max_remit_12m_amt, Length: 4410, dtype: int64
1350.0    1084
1376.0     990
1300.0     686
0.0        458
1353.0     417
          ...
1136.0       1
778.0        1
1307.0       1
700.0        1
1166.0       1
Name: cbr_3_score, Length: 604, dtype: int64
0.0    15617
1.0     2689
2.0       51
Name: cnsumr_chrg_actv_cust_cnt, dtype: int64
1.0    14448
2.0     2112
0.0     1521
3.0      250
4.0       25
5.0        1
Name: cnsumr_lend_actv_cust_cnt, dtype: int64
0.000000    3286
0.025000       6
0.001400       5
0.000160       4
0.000650       4
            ...
0.036531       1
0.140412       1
0.104086       1
0.327242       1
0.179136       1
Name: cnsumr_lend_tot_util_ratio, Length: 14566, dtype: int64
0.0000    15436
0.0100      229
0.0224       53
0.0223       29
0.0248       19
          ...
0.2699        1
0.4062        1
0.1750        1
0.3179        1
0.0680        1
Name: sow_revol_avg_paydown_pct, Length: 1504, dtype: int64
0.0     15436
2.0      1800
3.0       641
4.0       269
5.0       125
6.0        56
7.0        18
8.0         9
10.0        2
9.0         1
Name: sow_tot_revol_cnt, dtype: int64
 -         13103
 3            71
 1            68
 4            45
 6            42
           ...
 2,421         1
 (34)          1
 2,341         1
 3,305         1
 1,756         1
Name: sow_tot_trans_bal_amt, Length: 1381, dtype: int64
0.0     12363
2.0      4449
3.0      1153
4.0       274
5.0        79
6.0        28
7.0         5
8.0         3
9.0         1
13.0        1
12.0        1
Name: sow_tot_trans_cnt, dtype: int64

In [ ]:
d_cols = ['pre6m_cust_spend', 'pre6m_cust_non_disc_amt', 'pre6m_cust_disc_amt', 'pre6m_cust_outbound_amt', 'pre6m_cust_online_amt', 'pre6m_cust_retail_amt', 'sum_total_line_amt', 'cust_max_credit_12m_amt', 'cust_max_remit_12m_amt']

In [ ]:
dfc.drop(columns=d_cols, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
dfc.shape

(18357, 37)

In [ ]:
dfc.head()

    cust_id  profitable_flag  ...  sow_tot_trans_bal_amt  sow_tot_trans_cnt
0  550391.0              0.0  ...                   -                   3.0
1  550392.0              0.0  ...                   -                   0.0
4  550395.0              0.0  ...                   143                13.0
6  550397.0              0.0  ...                 1,866                 2.0
7  550398.0              1.0  ...                 5,833                 6.0

[5 rows x 37 columns]

In [ ]:
dfc.drop(columns= ['sow_tot_trans_bal_amt'], inplace =True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
dfc.shape

(18357, 36)

In [ ]:
for i in cat_col:
    print(dfc[i].value_counts())

MGM                           7309
Unreferred                    4397
Partner                       1534
Affiliates                    1503
In House                      1291
Paid Search                    686
Direct                         618
Media                          344
Search                         296
Interactive                    145
Non-PDB (Personalized)          44
Email                           39
Partnerships - Other            37
Outsourced                      35
Natural Referral                21
PDB (Personalized)              21
E-Mails                         16
Partnerships - In Store          6
Personalization                  5
E-mails                          3
Unaddressed                      2
Outbound                         2
Proprietary - Direct Sales       1
Natural Search                   1
DM                               1
Name: acq_sub_chn, dtype: int64
external     13240
spillover     3668
others        1449
Name: acq_type_grp, dtype: int64
no_fee         8017
full_fee       6693
reduced_fee    3621
unknown          26
Name: fee_type_grp, dtype: int64

In [ ]:
dfc.head()

    cust_id  profitable_flag  ...  sow_tot_revol_cnt  sow_tot_trans_cnt
0  550391.0              0.0  ...                0.0                3.0
1  550392.0              0.0  ...                2.0                0.0
4  550395.0              0.0  ...                5.0               13.0
6  550397.0              0.0  ...                2.0                2.0
7  550398.0              1.0  ...                0.0                6.0

[5 rows x 36 columns]

In [ ]:
dfc['pre6m_total_mc_trs'].dtypes

dtype('O')

In [ ]:
f = lambda x: int(x);
dfc['profitable_flag'] = dfc['profitable_flag'].apply(f)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
dfc.head()

    cust_id  profitable_flag  ...  sow_tot_revol_cnt  sow_tot_trans_cnt
0  550391.0                0  ...                0.0                3.0
1  550392.0                0  ...                2.0                0.0
4  550395.0                0  ...                5.0               13.0
6  550397.0                0  ...                2.0                2.0
7  550398.0                1  ...                0.0                6.0

[5 rows x 36 columns]

In [ ]:
d_col = ['count_accts', 'cm_age', 'flag_top_ed_spender','flag_cust_fee_paid_6m','pre6m_cust_roc_cnt','pre6m_cust_non_disc_cnt','pre6m_cust_disc_cnt', 'pre6m_cust_online_cnt','pre6m_cust_travel_cnt','pre6m_cust_retail_cnt', 'pre6m_cust_myca_active', 'pre6m_cust_mob_logins']

In [ ]:
for i in d_col:
    dfc[i] = dfc[i].apply(f)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
dfc.head()

    cust_id  profitable_flag  ...  sow_tot_revol_cnt  sow_tot_trans_cnt
0  550391.0                0  ...                0.0                3.0
1  550392.0                0  ...                2.0                0.0
4  550395.0                0  ...                5.0               13.0
6  550397.0                0  ...                2.0                2.0
7  550398.0                1  ...                0.0                6.0

[5 rows x 36 columns]

In [ ]:
col = ['Cust_tenure','pre6m_spend_active_ind','highly_utilized_ind','min_pay_ind','paid_in_full_ind','direct_debit_ind','referrals', 'spillover', 'self_accts',	'Customer Low Quality indicator', 'cnsumr_lend_actv_cust_cnt', 'sow_tot_revol_cnt',	'sow_tot_trans_cnt']

In [ ]:
for i in col:
    dfc[i] = dfc[i].apply(f)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
dfc.head()

    cust_id  profitable_flag  ...  sow_tot_revol_cnt  sow_tot_trans_cnt
0  550391.0                0  ...                  0                  3
1  550392.0                0  ...                  2                  0
4  550395.0                0  ...                  5                 13
6  550397.0                0  ...                  2                  2
7  550398.0                1  ...                  0                  6

[5 rows x 36 columns]

In [ ]:
dfc['cnsumr_chrg_actv_cust_cnt'] = dfc['cnsumr_chrg_actv_cust_cnt'].apply(f)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
dfc.dtypes

cust_id                           float64
profitable_flag                     int64
count_accts                         int64
cm_age                              int64
flag_top_ed_spender                 int64
flag_cust_fee_paid_6m               int64
pre6m_cust_roc_cnt                  int64
pre6m_cust_non_disc_cnt             int64
pre6m_cust_disc_cnt                 int64
pre6m_cust_online_cnt               int64
pre6m_cust_travel_cnt               int64
pre6m_cust_retail_cnt               int64
pre6m_cust_myca_active              int64
pre6m_cust_mob_logins               int64
pre6m_total_mc_trs                 object
acq_sub_chn                        object
acq_type_grp                       object
fee_type_grp                       object
Cust_tenure                         int64
pre6m_spend_active_ind              int64
highly_utilized_ind                 int64
min_pay_ind                         int64
paid_in_full_ind                    int64
direct_debit_ind                    int64
referrals                           int64
spillover                           int64
self_accts                          int64
Customer Low Quality indicator      int64
cdss_most_rcnt_prob               float64
cbr_3_score                       float64
cnsumr_chrg_actv_cust_cnt           int64
cnsumr_lend_actv_cust_cnt           int64
cnsumr_lend_tot_util_ratio        float64
sow_revol_avg_paydown_pct         float64
sow_tot_revol_cnt                   int64
sow_tot_trans_cnt                   int64
dtype: object

In [ ]:
ocol = ['pre6m_total_mc_trs', 'acq_sub_chn', 'acq_type_grp', 'fee_type_grp']
count  = 0  
l  = []  
for i in dfc[ocol[0]]:
    i = list(i)
    if(i.count('(')!=0):
        l.append(int(("".join(i[2:-1])).replace(',', '')))
    else:
        l.append(int(("".join(i[1:-1])).replace(',', '')))

In [ ]:
len(l)

18357

In [ ]:
dfc[ocol[0]] = l

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
dfc.head()

    cust_id  profitable_flag  ...  sow_tot_revol_cnt  sow_tot_trans_cnt
0  550391.0                0  ...                  0                  3
1  550392.0                0  ...                  2                  0
4  550395.0                0  ...                  5                 13
6  550397.0                0  ...                  2                  2
7  550398.0                1  ...                  0                  6

[5 rows x 36 columns]

In [ ]:
dfc.dtypes

cust_id                           float64
profitable_flag                     int64
count_accts                         int64
cm_age                              int64
flag_top_ed_spender                 int64
flag_cust_fee_paid_6m               int64
pre6m_cust_roc_cnt                  int64
pre6m_cust_non_disc_cnt             int64
pre6m_cust_disc_cnt                 int64
pre6m_cust_online_cnt               int64
pre6m_cust_travel_cnt               int64
pre6m_cust_retail_cnt               int64
pre6m_cust_myca_active              int64
pre6m_cust_mob_logins               int64
pre6m_total_mc_trs                  int64
acq_sub_chn                        object
acq_type_grp                       object
fee_type_grp                       object
Cust_tenure                         int64
pre6m_spend_active_ind              int64
highly_utilized_ind                 int64
min_pay_ind                         int64
paid_in_full_ind                    int64
direct_debit_ind                    int64
referrals                           int64
spillover                           int64
self_accts                          int64
Customer Low Quality indicator      int64
cdss_most_rcnt_prob               float64
cbr_3_score                       float64
cnsumr_chrg_actv_cust_cnt           int64
cnsumr_lend_actv_cust_cnt           int64
cnsumr_lend_tot_util_ratio        float64
sow_revol_avg_paydown_pct         float64
sow_tot_revol_cnt                   int64
sow_tot_trans_cnt                   int64
dtype: object

In [ ]:
dfc['acq_type_grp'].value_counts()

external     13240
spillover     3668
others        1449
Name: acq_type_grp, dtype: int64

In [ ]:
dfc['acq_type_grp'] = dfc['acq_type_grp'].map({'external':0, 'spillover':1, 'others':2})

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
dfc['acq_type_grp']

0        0
1        2
4        1
6        1
7        1
        ..
19590    0
19591    0
19592    0
19593    0
19594    0
Name: acq_type_grp, Length: 18357, dtype: int64

In [ ]:
dfc['fee_type_grp'].value_counts()

no_fee         8017
full_fee       6693
reduced_fee    3621
unknown          26
Name: fee_type_grp, dtype: int64

In [ ]:
dfc['fee_type_grp'] = dfc['fee_type_grp'].map({'no_fee':0, 'full_fee':1, 'reduced_fee':2, 'unkonown':3})

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
dfc[ocol[1]] = dfc[ocol[1]].astype('category')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
dfc[ocol[1]] = dfc[ocol[1]].cat.codes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
dfc.dtypes

cust_id                           float64
profitable_flag                     int64
count_accts                         int64
cm_age                              int64
flag_top_ed_spender                 int64
flag_cust_fee_paid_6m               int64
pre6m_cust_roc_cnt                  int64
pre6m_cust_non_disc_cnt             int64
pre6m_cust_disc_cnt                 int64
pre6m_cust_online_cnt               int64
pre6m_cust_travel_cnt               int64
pre6m_cust_retail_cnt               int64
pre6m_cust_myca_active              int64
pre6m_cust_mob_logins               int64
pre6m_total_mc_trs                  int64
acq_sub_chn                          int8
acq_type_grp                        int64
fee_type_grp                      float64
Cust_tenure                         int64
pre6m_spend_active_ind              int64
highly_utilized_ind                 int64
min_pay_ind                         int64
paid_in_full_ind                    int64
direct_debit_ind                    int64
referrals                           int64
spillover                           int64
self_accts                          int64
Customer Low Quality indicator      int64
cdss_most_rcnt_prob               float64
cbr_3_score                       float64
cnsumr_chrg_actv_cust_cnt           int64
cnsumr_lend_actv_cust_cnt           int64
cnsumr_lend_tot_util_ratio        float64
sow_revol_avg_paydown_pct         float64
sow_tot_revol_cnt                   int64
sow_tot_trans_cnt                   int64
dtype: object

In [ ]:
dfc['fee_type_grp'] = dfc['fee_type_grp'].astype('float32')
dfc['cdss_most_rcnt_prob'] = dfc['cdss_most_rcnt_prob'].astype('float32')
dfc['cbr_3_score'] = dfc['cbr_3_score'].astype('float32')
dfc['cnsumr_lend_tot_util_ratio'] = dfc['cnsumr_lend_tot_util_ratio'].astype('float32')
dfc['sow_revol_avg_paydown_pct'] = dfc['sow_revol_avg_paydown_pct'].astype('float32')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
dfc['fee_type_grp'].fillna(dfc['fee_type_grp'].median(), inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4535: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
dfc.isnull().sum()

cust_id                           0
profitable_flag                   0
count_accts                       0
cm_age                            0
flag_top_ed_spender               0
flag_cust_fee_paid_6m             0
pre6m_cust_roc_cnt                0
pre6m_cust_non_disc_cnt           0
pre6m_cust_disc_cnt               0
pre6m_cust_online_cnt             0
pre6m_cust_travel_cnt             0
pre6m_cust_retail_cnt             0
pre6m_cust_myca_active            0
pre6m_cust_mob_logins             0
pre6m_total_mc_trs                0
acq_sub_chn                       0
acq_type_grp                      0
fee_type_grp                      0
Cust_tenure                       0
pre6m_spend_active_ind            0
highly_utilized_ind               0
min_pay_ind                       0
paid_in_full_ind                  0
direct_debit_ind                  0
referrals                         0
spillover                         0
self_accts                        0
Customer Low Quality indicator    0
cdss_most_rcnt_prob               0
cbr_3_score                       0
cnsumr_chrg_actv_cust_cnt         0
cnsumr_lend_actv_cust_cnt         0
cnsumr_lend_tot_util_ratio        0
sow_revol_avg_paydown_pct         0
sow_tot_revol_cnt                 0
sow_tot_trans_cnt                 0
dtype: int64

In [ ]:
train_x = dfc.drop(columns = ['cust_id','profitable_flag'])
train_y = dfc['profitable_flag']

In [ ]:
print(train_x.shape, train_y.shape)

(18357, 34) (18357,)

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(train_x.values, train_y.values, test_size = 0.2, random_state = 1)

In [ ]:
x_train.shape, y_train.shape

((14685, 34), (14685,))

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
clf =  GradientBoostingClassifier(random_state = 0)

In [ ]:
clf.fit(x_train, y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [ ]:
y_pred = clf.predict(x_test)

In [ ]:
from sklearn.metrics import f1_score, accuracy_score

In [ ]:
clf.score(x_test, y_test)

0.8118191721132898

In [ ]:
f1_score(y_pred, y_test, average = 'micro')

0.8118191721132898

In [ ]:
np.any(np.isnan(train_x))

True

In [ ]:
x_train

array([[5.58156e+05, 1.00000e+00, 4.60000e+01, ..., 0.00000e+00,
        0.00000e+00, 2.00000e+00],
       [5.69956e+05, 1.00000e+00, 4.10000e+01, ..., 1.17300e-01,
        3.00000e+00, 2.00000e+00],
       [5.56403e+05, 1.00000e+00, 3.30000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       ...,
       [5.56138e+05, 1.00000e+00, 5.90000e+01, ..., 4.68000e-02,
        2.00000e+00, 0.00000e+00],
       [5.63499e+05, 1.00000e+00, 5.00000e+01, ..., 0.00000e+00,
        0.00000e+00, 2.00000e+00],
       [5.50777e+05, 2.00000e+00, 5.00000e+01, ..., 0.00000e+00,
        0.00000e+00, 2.00000e+00]])

In [ ]:
train_x

        cust_id  count_accts  ...  sow_tot_revol_cnt  sow_tot_trans_cnt
0      550391.0            1  ...                  0                  3
1      550392.0            1  ...                  2                  0
4      550395.0            2  ...                  5                 13
6      550397.0            2  ...                  2                  2
7      550398.0            2  ...                  0                  6
...         ...          ...  ...                ...                ...
19590  569981.0            1  ...                  0                  0
19591  569982.0            1  ...                  2                  0
19592  569983.0            1  ...                  0                  0
19593  569984.0            2  ...                  0                  0
19594  569985.0            2  ...                  0                  2

[18357 rows x 35 columns]

In [ ]:

print("accuracy score : ", accuracy_score(y_test, y_pred))

accuracy score :  0.8118191721132898

In [ ]:
print("f1 score_weighted: ", f1_score(y_test, y_pred, average='weighted'))
print("f1 score_macro : ", f1_score(y_test, y_pred, average = 'macro'))
print("f1 score_micro : ", f1_score(y_test, y_pred, average='micro'))
print("f1 score_none : ", accuracy_score(y_test, y_pred))

f1 score_weighted:  0.7322198654972946
f1 score_macro :  0.45512303341627397
f1 score_micro :  0.8118191721132898
f1 score_none :  0.8118191721132898

In [ ]:
list(y_pred).count(1)

19

In [ ]:
list(y_test).count(1)

682

In [ ]:
 from sklearn.ensemble import RandomForestClassifier
 clf = RandomForestClassifier(max_depth=5, random_state=0)

In [ ]:
clf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
clf.score(x_test, y_test)

0.8142701525054467

In [ ]:
clf.score(x_train, y_train)

0.8130745658835546

In [ ]:
y_pred = clf.predict(x_test)

In [ ]:
f1_score(y_test, y_pred)

0.0

In [ ]:
list(y_pred).count(1)

2

In [ ]:
list(y_train).count(1)

2746